body,
html {
    font 16px/1.4 Georgia, serif
}
html,
*,
*::before,
*::after {
    box-sizing border-box
}
body {
    width 100vw
    min-height 100vh
    overflow-x hidden
    background-color: #009b93;
    background: radial-gradient(759px at 14% 22.3%, #0a40584d 0%, #0fa466 30%, #009b93 100%);
    background-repeat no-repeat
}
button {
    border none
    background none
    cursor pointer
}
.page {
    min-width 500px
    padding 2.5rem 2rem
}
.title {
    font-size 3rem
    font-weight bold
    text-transform uppercase
    letter-spacing 0.1rem
    text-align center
    color white
    text-shadow 2px 2px 2px rgba(0,0,0, 0.5)
    margin-bottom 0.4em
}
.gallery {
    border-radius 8px
    overflow hidden
    &Item {
        display inline-block
        position relative
        width 25%
        height 0
        padding-bottom 29%
        vertical-align top
    }
}
.card {
    display block
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    color white
    overflow hidden
    &:hover, 
    &:visited {
        color white
    }
    &Content, 
    &Hover,
    &Image {
        position absolute
        top 0
        left 0
        width 100%
        height 100%
    }
    &Image {
        object-fit cover
        z-index 1
        transform scale(1)
        transition transform 0.6s
    }
    &Hover {
        z-index 2
        opacity 0
        background-color rgba(0,0,0, 0.7)
        transition opacity 0.3s
    }
    &Content {
        display flex
        flex-direction column
        align-items center
        justify-content center
        z-index 3
        opacity 0
        padding 2em
        transition opacity 0.3s
    }
    &Title {
        font-size 1.5rem
        text-transform uppercase
        text-align center
        font-weight bold
        letter-spacing 0.1em
        color #daa35b
        margin-bottom 0.4em    
    }
    &:hover {
        .cardHover,
        .cardContent {
            opacity 1
        }
        .cardImage {
            transform scale(1.2)
        }
    }
}

